@font-face 

	font-family: Raleway-Light
	src url(font/Raleway/Raleway-Light.ttf) format(truetype)



body 
	background #edeeed


#cont_cabezote
	margin 0 auto
	width 90%
	#logo
		padding 20px


#cont_footer
	margin 0 auto
	width 90%
	#cont_dos_footer
		text-align center 
		width 95%
	button
		background #edeeed
		border none
		
		font-family: Raleway-Light
		font-size 16px
		a
			color #cdcecd
			text-decoration none
	p
		font-family: Raleway-Light
		font-size 12px
		color #cdcecd

#cont_img_principal
	margin 0 auto
	width 90%
	#cont_dos_img_principal
		text-align center
		#img-cel
			
			@media screen and (min-width: 768px)
				display none 
		#img-pc
			display none
			@media screen and (min-width: 1200px)
				display block
				margin 0 auto 
		#img-tablet
			display none
			@media screen and (min-width: 768px)
				display block
				margin 0 auto 
			@media screen and (min-width: 1200px)
				display none
		#txt-mov 
			color #848685
			font-family: Raleway-Light
			font-size 20px
			span
				background #848685
				color #edeeed
				padding 3px
				text-decoration underline
			@media screen and (min-width: 768px)
				display none
		#txt-tab
			display none
			@media screen and (min-width: 768px)
				color #848685
				display block
				font-family: Raleway-Light
				font-size 20px
				span
					background #848685
					color #edeeed
					padding 3px
					text-decoration underline
			@media screen and (min-width: 1200px)
				display none
		#txt-pc
			display none
			@media screen and (min-width: 1200px)
				color #848685
				display block
				font-family: Raleway-Light
				font-size 20px
				span
					background #848685
					color #edeeed
					padding 3px
					text-decoration underline
				
		
			

#cont_menu
	margin 0 auto
	padding 30px
	width 90%
	#cont_menu_dos
		text-align center
		button
			background #edeeed
			border none
			font-family: Raleway-Light
			font-size 60px
			padding 0 40px 25px 0 
			a 
				color #77c964
				text-decoration none


/*----------------estilos servicios ----------------------*/


#btn_cotizacion
	text-align center
	margin 30px 0 30px 0
	button
		background #edeeed
		border none
		font-family: Raleway-Light
		font-size 40px
		a
			background #77c964
			color #edeeed
			text-decoration none
			padding 15px
		



 
#cont_contenido_servi
	margin 0 auto
	width 90%
	.parrafos_servi 
		color #cdcecd
		font-family: Raleway-Light
		font-size 20px
		padding 0 
		margin 0
	.subtitulos
		color #cdcecd
		font-family Raleway-Light
		font-size 15px
		margin 0 

	.title_servi
		color #77c964
		font-family Raleway-Light
		font-size 40px
		margin 0 


    



