@font-face 

	font-family: Raleway-Light
	src url(../../css/font/Raleway/Raleway-Light.ttf) format(truetype)

body
	background #edeeed

#cabezote 
	-webkit-box-shadow: 4px 23px 37px -7px rgba(0,0,0,0.69);
	-moz-box-shadow: 4px 23px 37px -7px rgba(0,0,0,0.69);
	box-shadow: 4px 23px 37px -7px rgba(0,0,0,0.69);
	padding 0 0 0 0 
	#cont_cabezote
		margin 0 auto 
		text-align center
		width 90%
		p
			color #848685
			font-family: Raleway-Light
			font-size 30px
			margin 0 
			padding 10px 0 10px 0 
		img 
			padding 20px 0 0 0
		#subtitulo_prov
			color #848685
			font-family: Raleway-Light
			font-size 20px
			margin 0 
			padding 0 0 20px 0


#cont_footer
	margin 0 auto 
	text-align center
	width 90%
	p
		color #848685
		font-family: Raleway-Light
		font-size 25px
		padding 30px

#cont_formulario
	margin 0 auto 
	text-align center
	width 60%
	p 
		color #848685
		font-family: Raleway-Light
		font-size 16px
		padding 30px
		span 
			font-weight bold 
	#jobs
		padding 30px
		span
			color #848685
			font-family: Raleway-Light
			font-size 16px
			

	



