@font-face{font-family:Raleway-Light;src:url("font/Raleway/Raleway-Light.ttf") format(truetype)}
body{background:#b5d6df}
footer{text-align:center;}
footer a{color:#9a3d46;font-family:Raleway-Light;font-size:20px}
@media screen and (min-width: 768px){footer #fp{display:none}
}footer #fg{display:none;}
@media screen and (min-width: 768px){footer #fg{display:block;margin:0 auto;padding:20px}
}#cabezote{background:#322037;padding-top:10px;}
#cabezote #cont_cabezote{margin:0 auto;text-align:center;width:90%;}
#cabezote #cont_cabezote h1{color:#fff;font-family:Raleway-Light;font-size:20px;padding:0 0 20px 0}
#invi_promo{background:#9a3d46;}
#invi_promo #cont_invi_promo{margin:0 auto;text-align:center;width:90%;}
#invi_promo #cont_invi_promo #cont_box_twi{float:left;margin:0 auto;padding:20px;width:40%}
#invi_promo #cont_invi_promo #box_you{float:left;width:50%}
@media screen and (min-width: 768px){#invi_promo #cont_invi_promo #sp{display:none}
}#invi_promo #cont_invi_promo #sg{display:none;}
@media screen and (min-width: 768px){#invi_promo #cont_invi_promo #sg{display:block;margin:0 auto}
}@media screen and (min-width: 768px){#invi_promo #cont_invi_promo #urlp{display:none}
}#invi_promo #cont_invi_promo #urlg{display:none;}
@media screen and (min-width: 768px){#invi_promo #cont_invi_promo #urlg{display:block;margin:0 auto;padding:20px 0 20px 0}
}#promo{background:#b5d6df;padding-top:0;}
#promo #cont_promo{margin:0 auto;text-align:center;width:90%;}
#promo #cont_promo #promo-p{padding:10px 0 30px 0;}
@media screen and (min-width: 768px){#promo #cont_promo #promo-p{display:none}
}#promo #cont_promo #promo-g{display:none;}
@media screen and (min-width: 768px){#promo #cont_promo #promo-g{display:block;margin:0 auto;padding:10px 0 30px 0}
}#video{background:#3e4658;}
#video #cont_video{margin:0 auto;text-align:center;width:90%;}
#video #cont_video iframe{padding:20px 0 20px 0}
#video #cont_video #sonri-peque{margin-top:-30px;}
@media screen and (min-width: 768px){#video #cont_video #sonri-peque{display:none}
}#video #cont_video p{color:#fff;font-family:Raleway-Light;font-size:30px;padding:0 0 40px 0}
#video #cont_video #sonri-grande{display:none;}
@media screen and (min-width: 768px){#video #cont_video #sonri-grande{display:block;margin:0 auto}
}