@font-face 

	font-family: Raleway-Light
	src url(font/Raleway/Raleway-Light.ttf) format(truetype)

body
	background #b5d6df

#cabezote
	background #322037
	padding-top 10px
	#cont_cabezote
		margin 0 auto
		text-align center 
		width 90%
		h1
			color white
			font-family: Raleway-Light
			font-size 20px
			padding 0 0 20px 0
#invi_promo
	background #a1aac1
	#cont_invi_promo
		margin 0 auto
		text-align center
		width 90%
		img
			padding 10px 0 10px 0
#promo
	background #b5d6df
	padding-top 20px
	#cont_promo
		margin 0 auto
		text-align center
		width 90%
		img
			padding 0 0 30px 0
#video
	background #3e4658
	#cont_video
		margin 0 auto
		text-align center
		width 90%
		iframe
			padding 20px 0 20px 0
		img
			margin-top -50px
		p 
			color white
			font-family: Raleway-Light
			font-size 30px
			padding 0 0 40px 0
#rs 
	background #3e4658
	border solid 3px blue
	padding 0px
	#cont_rs
		margin 0 auto
		width 30%
		p 
			font-family: Raleway-Light
			font-size 30px
		#box_face
			float left
			padding 0 10px 0 0 
		#box_twi
			float left
			padding 0 10px 0 0 
		
			




